<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.6.1/css/foundation.min.css"/>-->
    <link rel="stylesheet" href="/assets/css/main.css"/>
    <title>Michael Habib's Notebook</title>
</head>
<body>
<header id="site-header" class="p-4">
    <nav id="primary-navigation" class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container">

        <a class="navbar-brand" href="/">notebook.michaelhabib.name</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                
                
                <li class="nav-item">
                    <a class="nav-link" href=" /">Home</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href=" /wiki/">Wiki</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href=" /blog">Blog</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href=" /posts/">Posts</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href=" /categories/">Categories</a>
                </li>
                
            </ul>
        </div>
    </div>

</nav>
<!--    <div class="container shadow-sm p-4 mb-5 bg-warning">

    <ul>
        <li>Title : Welcome to notebook.michaelhabib.name !</li>
        <li>Type : </li>
        <li>Layout : default</li>
        <li>Collection : </li>
        <li>path : content/home.html</li>
        <li><a href="/">Page URL : /</a></li>
        <li>
            Categories :
            <ul>
                

            </ul>
        </li>
        <li>
            Entry: {"layout"=>"default", "title"=>"Welcome to notebook.michaelhabib.name !", "permalink"=>"/", "content"=>"{% include wiki/namespace-pages.html namespace=\"information-technology\" %}\n\n{% include wiki/namespace-pages.html namespace=\"self-help\" %}\n\n{% include wiki/namespace-pages.html namespace=\"education\" %}\n\n{% include wiki/namespace-pages.html namespace=\"business\" %}\n\n{% include wiki/namespace-pages.html namespace=\"science\" %}\n\n{% include wiki/namespace-pages.html namespace=\"comedy\" %}\n\n{% include wiki/namespace-pages.html namespace=\"music\" %}\n\n{% include wiki/namespace-pages.html namespace=\"lists\" %}\n\n<hr/>\n<div class=\"home-page-footer\">\n<p>\nWebsite created using Jekyll Static Site Generator, Asiciidoc Markup Language & a custom booststrap 4 theme .\n</p>\n  \n</div>\n", "dir"=>"/", "excerpt"=>nil, "name"=>"home.html", "path"=>"content/home.html", "url"=>"/"}
        </li>
        </li>

    </ul>
</div>
-->

</header>
<div class="container-fluid">
    <div class="container shadow-lg">
        <div class="row">


            <main id="site-main" class="col-md-12 col-lg-12 bg-light shadow-lg pt-4 pb-4 ">
                <h1 class="p-4 page-title">Welcome to notebook.michaelhabib.name !</h1>
                <div class="container">
                    






<h2><a href="/information-technology/index.html">Information Technology</a></h2>
<ul>
    
    
    
    
    
    
    <li>
        <a href="/information-technology/programming/conventions/wordpress-development-conventions.html">
            Wordpress Development Conventions
        </a>
    </li>

    
    
    
    <li>
        <a href="/information-technology/programming/htaccess/htaccess-guide.html">
            Htaccess Guide
        </a>
    </li>

    
    
    
    <li>
        <a href="/information-technology/programming/markup-languages/asciidoc-guide.html">
            AsciiDoc Guide
        </a>
    </li>

    
    
    
    <li>
        <a href="/information-technology/programming/modeling/modeling-language_uml_uml-modeling-guide.html">
            UML Modeling Language Guide
        </a>
    </li>

    
    
    
    <li>
        <a href="/information-technology/programming/software-architecture/software-architecture-guide.html">
            Software Architecture Guide
        </a>
    </li>

    
    
    
    <li>
        <a href="/information-technology/programming/version-control-systems/git-guide.html">
            Git Guide
        </a>
    </li>

    
    
    
    <li>
        <a href="/information-technology/software/Linux-CLI-Tools/imagemagick-usage-guide-and-examples.html">
            Imagemagick Usage Guide &amp; Examples
        </a>
    </li>

    
    
    
    <li>
        <a href="/information-technology/software/os/ubuntu/recommended-ubuntu-packages.html">
            Recommended Ubuntu Packages
        </a>
    </li>

    
    
    
    <li>
        <a href="/information-technology/software/virtulization/docker/docker-guide.html">
            Docker Guide
        </a>
    </li>

    
    
    
    <li>
        <a href="/information-technology/software/virtulization/docker/docker_devilbox-guide.html">
            Docker: DevilBox Guide
        </a>
    </li>

    
    
    
    <li>
        <a href="/information-technology/software/web/cms/wordpress/wordpress-developer-guide.html">
            Wordpress Developer Guide
        </a>
    </li>

    
    
    
    <li>
        <a href="/information-technology/software/web/cms/wordpress/wordpress_contactform7-guide.html">
            WordPress : Contact Form 7 Guide
        </a>
    </li>

    
    
    
    
    
    
    
    
    
    
</ul>
<hr/>



















































<h2><a href="/lists/index.html">Lists</a></h2>
<ul>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <li>
        <a href="/lists/list-of-books.html">
            List of Books
        </a>
    </li>

    
    
    
    <li>
        <a href="/lists/list-of-comedians.html">
            List Of Comedians
        </a>
    </li>

    
    
    
    <li>
        <a href="/lists/list-of-web-design-development-tools.html">
            List of Web Design &amp; Development Tools
        </a>
    </li>

    
    
</ul>
<hr/>


<hr/>
<div class="home-page-footer">
<p>
Website created using Jekyll Static Site Generator, Asiciidoc Markup Language & a custom booststrap 4 theme .
</p>
  
</div>


                </div>

            </main>

            <!--            <aside id="site-aside" class="col-md-4 col-lg-3 pt-2">-->

            <!--            </aside>-->

        </div>

    </div>
</div>

<footer id="site-footer">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</footer>

</body>